[submodule "wakeupup/JSONKit"]
	path = wakeupup/JSONKit
	url = https://github.com/johnezang/JSONKit
[submodule "JSONKit"]
	path = JSONKit
	url = https://github.com/johnezang/JSONKit
[submodule "wakeup/JSONKit"]
	path = wakeup/JSONKit
	url = https://github.com/johnezang/JSONKit
